Source: ros-melodic-rqt-plot
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://wiki.ros.org/rqt_plot
Standards-Version: 3.9.2

Package: ros-melodic-rqt-plot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-matplotlib, python-numpy, python-rospkg, ros-melodic-python-qt-binding (>= 0.2.19), ros-melodic-qt-gui-py-common (>= 0.2.25), ros-melodic-qwt-dependency, ros-melodic-rosgraph, ros-melodic-rostopic, ros-melodic-rqt-gui, ros-melodic-rqt-gui-py, ros-melodic-rqt-py-common, ros-melodic-std-msgs
Description: rqt_plot provides a GUI plugin visualizing numeric values in a 2D plot using different plotting backends.
