Source: ros-kinetic-rqt-plot
Section: misc
Priority: optional
Maintainer: Mabel Zhang <mabel@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/rqt_plot
Standards-Version: 3.9.2

Package: ros-kinetic-rqt-plot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-matplotlib, python-numpy, python-rospkg, ros-kinetic-python-qt-binding (>= 0.2.19), ros-kinetic-qt-gui-py-common (>= 0.2.25), ros-kinetic-qwt-dependency, ros-kinetic-rosgraph, ros-kinetic-rostopic, ros-kinetic-rqt-gui, ros-kinetic-rqt-gui-py, ros-kinetic-rqt-py-common, ros-kinetic-std-msgs
Description: rqt_plot provides a GUI plugin visualizing numeric values in a 2D plot using different plotting backends.
